body {
  font-family: Arial, sans-serif;
  background-color: greenyellow;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
}

input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: gray;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: gray;
}

p {
  margin-top: 50px;
  color: #000000;
}